body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    height: 90vh;
}

#users-online-sidebar {
    display: none;
    border-radius: 5px;
    max-width: 15vw;
}

#users {
    overflow-x: hidden;
    overflow-y: auto;
    height: 70vh;
}

#chat-box {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    height: 70vh;
}

#users-online-sidebar, #chat-box {
    height: 100%;
}

.chat-title {
    font-family: 'Satisfy', sans-serif;
    color: #4b0082;
    font-size: 2rem;
}

#messages {
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.message-container {
    word-wrap: break-word;
    white-space: pre-wrap;
}

#input-msg {
    background-color: #f7f7f7;
}

@media (max-width: 768px) {
    #users-online-sidebar {
        width: 100%;
    }

    #users {
        max-height: 10vh;
    }
}
